Source: metrics-chooser
Section: utils
Priority: optional
Maintainer: Dmitriy Kostiuk <dmitriykostiuk@gmail.com>
Build-Depends: debhelper (>=9)

Package: metrics-chooser
Architecture: all
Depends: gum
Homepage: <https://github.com/fiowro/metrics_chooser>
Description: Server metrics chooser
 Metrics Chooser is a simple bash script which asks what
 data should be collected on the server (e.g., RAM, CPU,
 free space, etc.).
 .
 It uses Gum to create text user interface.
